@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root {
    --main-bg-color: #6d8613;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}


nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    padding: 0 23px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(235, 22, 22);
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 31px;
    border-radius: 8px;
    margin: 0 5px 0 7px;
    font-family: 'Roboto Mono', monospace;
    padding: 0 12px;
}


.slider{
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}

.card{
    max-width: 90vw;
    margin: 37px auto;
    font-family: 'Roboto Mono', monospace;
}

.container {
    min-height: calc(100vh - 7vh - 58px);
}

.cards .card-item img:hover{
    border: 1px solid red;
}

.cards{
    display: flex;
    justify-content: center;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.line1,.line2,.line3{
    margin: 0 100px;
}


footer {
    height: 7vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.lines{
    width: 159px;
    margin: 0 17px;
}