.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 9px;
    padding: 5px 12px;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

.btn:hover{
    font-weight: bold;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 16px 0;
}

.text-center{
    text-align: center;
}